.navigation {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #352619;
    background-color: rgba(126, 136, 136, 0.239);
}

.navigation__link {
    text-decoration: none;
    color: #352619;
}

.navigation__link:visited {
    color: #352619;
}